@font-face {
  font-family: "Boecklins Universe";
  src: url("./assets/fonts/Boecklins Universe.woff2") format("woff2"),
    url("./assets/fonts/Boecklins Universe.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-00FE;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*:not(h1) {
  font-family: "Faculty Glyphic";
}

html {
  background: #120f0a;
}

body {
  width: 100%;
  height: 100dvh;
  background-image: radial-gradient(
    circle at 50% 50%,
    transparent 0%,
    transparent 65%,
    rgba(212, 175, 55, 0.1) 65%,
    rgba(212, 175, 55, 0.1) 68%,
    transparent 68%
  );
  background-size: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.reg-wrapper {
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.reg-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #262420;
  z-index: 0;
  box-shadow: inset 0 0 3px 0px rgb(232, 116, 7), 0 0 5px 1px rgb(255, 246, 238),
    0 0 10px 3px rgb(240, 208, 178), 0 0 16px 8px rgb(232, 155, 84),
    0 0 40px 15px rgb(232, 116, 7);
}

img,
svg {
  width: 100%;
  height: 100%;
  display: block;
}

.img-wrapper,
.svg-wrapper {
  position: absolute;
  width: clamp(50px, 33.33px + 5.2083vw, 75px);
  height: auto;
  top: 10px;
}

.img-wrapper {
  left: 10px;
}

.svg-wrapper {
  right: 10px;
}

form {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

fieldset {
  border: none;
  outline: none;
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

legend {
  color: transparent;
  height: 0px;
}

.titling {
  text-align: center;
}

h1 {
  color: white;
  font-size: clamp(1rem, 0.75rem + 2.5vw, 2rem);
  font-family: "Boecklins Universe";
}

.titling > p {
  color: #aaaaaa;
  font-size: clamp(0.625rem, 0.4583rem + 0.8333vw, 0.875rem);
}

.control-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  font-family: "Berolina";
  letter-spacing: 0.1em;
}

.form-control-wrapper {
  display: flex;
  gap: 1em;
  width: 100%;
}

.form-control {
  flex: 1;
}

label {
  display: block;
  font-size: clamp(0.75rem, 0.6528rem + 0.4444vw, 0.875rem);
  color: rgba(255, 255, 255, 1);
  margin-bottom: 0.5em;
}

input {
  appearance: none;
  display: block;
  width: 100%;
  border: none;
  padding: 0.25em;
  border-radius: 2em;
  font-size: clamp(0.625rem, 0.4583rem + 0.8333vw, 0.875rem);
}

input:focus {
  outline: 2px solid gold;
  border: 2px solid gold;
  outline-offset: 2px;
  transition: outline 150ms ease-in-out, border 150ms ease-in;
}

input:not(:placeholder-shown):user-valid:not(:focus) {
  background-color: rgb(130, 181, 130);
  border: 2px solid green;
}

input:not(:placeholder-shown):user-invalid:not(:focus) {
  background-color: rgb(249, 122, 122);
  border: 2px solid red;
}

.form-control + .form-control > label {
  text-align: right;
}

.form-control + .form-control > input {
  margin-left: auto;
}

button {
  border: none;
  margin: 0 auto;
  display: block;
  color: white;
  background-color: transparent;
  border-radius: 2em;
  padding: 0.35em 2em;
  cursor: pointer;
  font-size: clamp(0.75rem, 0.6528rem + 0.4444vw, 0.875rem);
  position: relative;
  overflow: hidden;
  transition: transform 250ms ease-out;
  border: 1.5px solid rgb(232, 116, 7);
  z-index: 1;
}

button::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgb(232, 116, 7);
  left: 0;
  top: 0;
  border-radius: inherit;
  z-index: -1;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 200ms ease-out;
}

button:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

button:hover {
  transform: scale(1.05);
}

.sign-in {
  font-size: clamp(0.625rem, 0.4583rem + 0.8333vw, 0.875rem);
  text-align: center;
  color: rgba(232, 116, 7, 0.9);
  padding-top: 1em;
}

.sign-in > a {
  color: #2a9d8f;
  background-color: rgba(42, 157, 143, 0.1);
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  text-decoration: none;
  margin-left: 0.25em;
  transition: background-color 300ms ease, text-decoration 300ms ease;
}

a:hover {
  background-color: rgba(42, 157, 143, 0.2);
  text-decoration: underline;
}

@media (width > 450px) {
  .control-wrapper,
  .form-control-wrapper {
    gap: 2em;
  }
}

@media (width >= 500px) {
  input {
    padding: 0.5em;
  }

  button {
    padding: 0.75em 6em;
  }
}

@media (width >= 700px) {
  input {
    padding: 1em;
  }
}
