* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #120f0a;
}

body {
  width: 100%;
  height: 100dvh;
  background-image: url(./assets/images/svgs/dragon-scales.svg);
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reg-wrapper {
  max-width: 800px;
  width: 100%;
  aspect-ratio: 1;
  position: relative;
}

.reg-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50%;
  background-color: #120f0a;
  box-shadow: 0 0 5px 1px rgb(255, 246, 238), 0 0 10px 3px rgb(240, 208, 178),
    0 0 16px 8px rgb(232, 155, 84), 0 0 40px 15px rgb(232, 116, 7);
}

img,
svg {
  width: 100%;
  height: 100%;
  display: block;
}

.img-wrapper,
.svg-wrapper {
  position: absolute;
  width: clamp(50px, 33.33px + 5.2083vw, 75px);
  height: auto;
  top: 10px;
}

.img-wrapper {
  left: 10px;
}

.svg-wrapper {
  right: 10px;
}
